* {
margin: 0;
padding: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

Body {
    color: aliceblue;
    background-color: #011f4b;
}

.Header {
    color: aliceblue;
    text-align: center;
    background-color: #03396c;
}

.Menu {
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color:rgb(12, 1, 78);
}

.navigation {
    color: white;
    padding: 10px;
    gap: 20px;
    display: flex;
    justify-content:center ;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

.navigation >li >a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: brown;
    width: 20px;
    height: 40px;
    transition: ease-in-out 0.3s;
}


.slide-one {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 20px;
    gap: 40px;
    flex-wrap: wrap;
}

.slide-one img {
    width: 200px;
    height: 200px;
}

.slide-one img:hover {
    width: 210px;
    height: 210px;
    transition: ease-in-out 0.4s;
    border: 5px solid wheat;
    box-shadow: white;
}


.slide-one a:hover{
    background-color: aqua;
    width: 10px;
    height: 20px;
    transition: ease-in-out 0.3s;

}

h1 {
    text-align: center;
}